<footer class="footer">
    <!-- Navigate up arrow -->
    <div class="footerArrowUp">
        <div class="footerCircle">
            <fa-icon [icon]="faAngleDoubleUp"></fa-icon>
        </div>
    </div>

    <div class="topFooter">
        <div id="socialNavWrap" class="text-center">
            <ul id="socialNav">
                <!-- For hovers https://codepen.io/sosuke/pen/Pjoqqp -->
                <li><a class="icon github-icon" href="https://github.com/kevalane" target="_BLANK"></a></li>
                <li><a class="icon twitter-icon" href="https://twitter.com/kevrasmusson" target="_BLANK"></a></li>
                <li><a class="icon instagram-icon" href="https://instagram.com/kevrasmusson" target="_BLANK"></a></li>
                <li><a class="icon linkedin-icon" href="https://linkedin.com/in/kevinrasmusson/" target="_BLANK"></a></li>
            </ul>
        </div>
    </div>
</footer>