<main>
    <section id="{{companies[0]}}" class="company">
        <h2 class="title">JKM Holding</h2>
        <h4 class="subTitle">Ett nystartat holdingbolag med fokus på att hjälpa entreprenörer.</h4>
        <p class="learnMore">(psst, WASD & piltangenter fungerar också)</p>
        <div class="nextButton" (click)="nextButtonScroll()"><fa-icon [icon]="down" class="fa-2x downIcon"></fa-icon></div>
    </section>
    <section id="{{companies[1]}}" class="company">
        <h2 class="title">JKM Solutions</h2>
        <h4 class="subTitle">Konsulttjänster inom webbutveckling, bokföring & företagande.</h4>
        <a class="readMoreButton" href="https://jkm.solutions" target="_BLANK">Läs mer <fa-icon [icon]="link" style="margin-left: .5rem"></fa-icon></a>
    </section>
    <section id="{{companies[2]}}" class="company">
        <h2 class="title">Klassanda.</h2>
        <h4 class="subTitle">Smarta finansieringslösningar för gymnasieklasser.</h4>
        <a class="readMoreButton" href="https://klassanda.net" target="_BLANK">Läs mer <fa-icon [icon]="link" style="margin-left: .5rem"></fa-icon></a>
    </section>
</main>