.company {
    height: 100vh;
    padding: 3rem;
    color: #fff;
    text-align: center;
    font-family: Helvetica;
}

.title {
    margin-top: 30vh;
    font-size: 3rem;
}

.subTitle {
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
}

.nextButton {
    animation: pulseStraight 2s infinite ease-in-out;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5vh;
}

.nextButton:hover {
    cursor: pointer;
}

.learnMore {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1vh;
    font-weight: 100;
    font-size: .7rem;
}

.readMoreButton {
    text-decoration: none;
    border: 1px solid #fdc400;
    padding: 1rem 2rem; 
    color: #fff;
    font-weight: 200;
    border-radius: .3rem;
}

#jkmholding {
    /* background: url('/assets/img/homepage/black.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    background: linear-gradient(-70deg, rgba(0,0,51,0.2) 0%, rgba(0,0,0,1) 100%);
}

#jkmsolutions {
    /* background: url('/assets/img/homepage/purple-paint.jpeg');
    background-size: cover;
    background-repeat: no-repeat; */
    background: linear-gradient(-90deg, rgba(0,0,51,0.2) 20%, rgba(0,0,0,1) 100%);
}

#klassanda {
    /* background: url('/assets/img/homepage/pattern.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
    background: linear-gradient(-120deg, rgba(0,0,51,0.2) 10%, rgba(0,0,0,1) 100%);
}

@keyframes pulseStraight {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}

