.navbar {
    min-height: 5em !important;
    background: transparent !important;
}

.withBackground {
    background: #000033 !important;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.d-lg-flex > .nav-item {
    margin-left: 2rem;
}

.nav-item {
    font-weight: 300;
}

#logo {
    color: #fff;
    font-size: 2em;
    text-decoration: none;
    font-weight: 300;
    transition-duration: 0.1s;
    transform: scale(1.0);
}

#logo:hover {
    text-decoration: none;
    transform: scale(1.1);
}

hr {
    color: #b1b1b1;
    width: 100%;
}

.mobile > a:hover {
    margin-left: .2em;
}

.nav-link {
    color: #ccc !important;
}

.nav-link:hover {
    color: #fff !important;
}

@media screen and (max-width: 990px) {
    .navbar {
        background: #000033 !important;
        box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    }
}