footer {
    background: #eee;
    position: relative;
}

.footerCircle {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 2px 0px 2px rgba(0,0,0,0.1);
    position: absolute;
    left: 50%;
    margin-left: -1.5rem;
    top: -1.5rem;
}

.footerArrowUp {
    text-align: center;
    z-index: 1;
}

.arrowWrap {
    margin-top: .7rem;
}

.footerCircle:hover {
    cursor: pointer;
    transform: scale(1.1);
}

/* Social Nav */
#socialNav {
    padding-top: 3rem;
    list-style: none;
    padding-bottom: 2em;
    padding-inline-start: 0px;
    margin-bottom: 0 !important;
}

#socialNav > li {
    display: inline-block;
    padding: 0em 2em;
}

#socialNav > li > a {
    transform: scale(1);
    transition-duration: 0.1s;
}

#socialNav > li > a:hover {
    transform: scale(1.05);
    color: #fff;
    transition-duration: 0.1s;
}
/* End social nav */

.endFooter {
    background: #000033;
    padding: 1rem;
}

.endFooter > p {
    color: #fff;
    font-weight: 200;
}
