<!-- First Image -->
<div class="parallax">
    <h2 class="textOnParallax" @slideLeft>{{mainTitle}}</h2>
</div>
<!-- End first image -->

<!-- Portfolio -->
<section id="portfolio">
    <div class="container">
        <h2 class="text-center title" id="portfolioTitle">Våra Bolag</h2>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                <a routerLink="/companies/" target="_BLANK"><img class="companyImage" src="assets/img/companies/consulting.png" alt="JKM Solutions image"></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                <a href="https://klassanda.net" target="_BLANK"><img class="companyImage" src="assets/img/companies/klassanda.png" alt="Klassanda company image"></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                <a routerLink="/companies/" target="_BLANK"><img class="companyImage" src="assets/img/companies/nordicsell.png" alt="Nordicsell company image"></a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                <a routerLink="/companies/" target="_BLANK"><img class="companyImage" src="assets/img/companies/soon.png" alt="Coming soon company image"></a>
            </div>
        </div>
    </div>
</section>
<!-- End portfolio -->

<!-- Our why -->
<section id="why">
    <div class="container">
        <h2 class="text-center title" id="whyTitle">JKM Holding</h2>
        <!-- <br> -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4" style="padding-right: 1.5rem;">
                <h4 class="sinekTitle">Varför finns vi?</h4>
                <p class="sinekText">
                    Vi tror på framtidens entreprenörer, de som tänker annorlunda och väljer att gå sin egen väg genom livet. 
                    Genom allt vi gör vill vi underlätta uppstarten av nya företag, allt för att förvandla dagens idéer till morgondagens verklighet.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4" style="padding-right: 1.5rem; padding-left: 1.5rem;">
                <h4 class="sinekTitle">Hur underlättar vi?</h4>
                <p class="sinekText">
                    Att starta ett bolag idag kräver en idé, kunskap och kapital. Vi hjälper till med alla tre genom informering
                    om vad som krävs för att starta och driva företag, erbjuda tjänster via dotterbolag samt vara öppna med att tillföra kapital vid uppstarten.
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4" style="padding-left: 1.5rem;"> 
                <h4 class="sinekTitle">Vad gör vi?</h4>
                <p>
                    Främst är våra artiklar där vi skriver om hur ett företag faktiskt startas och drivs (så konkret som möjligt för att det faktiskt ska hjälpa).
                    Utöver det är vi öppna för att investera startkapital samt erbjuda tjänster från dotterbolag (ex. hemsidor via JKM Solutions).
                </p>
            </div>
        </div>
    </div>
</section>
<!-- //Our why -->

<br><br>