/* Shared */
.title {
    font-weight: 300;
}

/* Parallax first image */
.parallax {
    background: url('/assets/img/ocean.png') no-repeat center;
    background-size: cover;
    height: 100vh;
    margin-top: -5rem;
    z-index: -1;
    /* position: absolute; */
}

.textOnParallax {
    position: relative;
    top: 18rem;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: 3rem;
}
/* End first image */

/* portfolio */

#portfolio {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

.companyImage {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 22rem;
    margin-bottom: 1.5rem;
    transition: ease-in-out 0.1s;
    border-radius: .3rem;
}

.companyImage:hover {
    transform: scale(1.05);
    cursor: pointer;
}
/* End portfolio */

/* WHY */
#why {
    background: #f7f8f9;
    padding-bottom: 2.5rem;
}

#whyTitle {
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}

.sinekTitle {
    font-weight: 300;
}

.sinekText {
    text-align: justify;
}