<!-- First Image -->
<div class="parallax">
    <div class="textOnParallax" @slideLeft>{{mainTitle}}</div>
</div>
<!-- End first image -->

<!-- Square links -->
<div class="squareContainer container">
    <div class="row">
        <!-- First square -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" @slideLeft>
            
            <div id="square1" class="square" (click)="navigate('/contact')">
                <div class="squareLink" id="square1Link">
                    <div class="textOnSquare">
                        För investerare
                    </div>
        
                    <div class="squareArrowRight">
                        <fa-icon class="fa-2x" [icon]="faArrowRight"></fa-icon>
                    </div>
                </div>
            </div>
        </div><!-- End col div-->
        <!-- End first square -->

        <!-- Second square -->
        <div class="d-none d-md-inline col-md-6 col-lg-6 col-xl-6" @slideRight>
                <div id="square2" class="square" (click)="navigate('/contact')">
                    <div class="squareLink" id="square2Link">
                        <div class="textOnSquare">
                            Vilka är vi?
                        </div>
            
                        <div class="squareArrowRight">
                            <fa-icon class="fa-2x" [icon]="faArrowRight"></fa-icon>
                        </div>
                    </div>
                </div>
        </div><!-- End col div-->
        <!-- End second square -->
    </div><!-- End row -->
</div><!-- Close squareContainer -->
<!-- End square links -->

<!-- Banner -->
<div id="banner">
    <p id="textOnBanner">We Believe in Long-Term Growth</p>
</div>
<!-- End banner -->