<!-- First Image -->
<div class="parallax">
    <div class="textOnParallax" @slideLeft>{{mainTitle}}</div>
</div>
<!-- End first image -->

<!--
Square links
<div class="squareContainer container">
    <div class="row">
        First square
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6" @slideLeft>
            
            <div id="square1" class="square" (click)="navigate('/contact')">
                <div class="squareLink" id="square1Link">
                    <div class="textOnSquare">
                        För investerare
                    </div>
        
                    <div class="squareArrowRight">
                        <fa-icon class="fa-2x" [icon]="faArrowRight"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
        End col div
        End first square

        Second square
        <div class="d-none d-md-inline col-md-6 col-lg-6 col-xl-6" @slideRight>
                <div id="square2" class="square" (click)="navigate('/contact')">
                    <div class="squareLink" id="square2Link">
                        <div class="textOnSquare">
                            Vilka är vi?
                        </div>
            
                        <div class="squareArrowRight">
                            <fa-icon class="fa-2x" [icon]="faArrowRight"></fa-icon>
                        </div>
                    </div>
                </div>
        </div>
        End col div
        End second square
    </div>
    End row
</div>
Close squareContainer
End square links
-->

<!-- Banner -->
<!-- <div id="banner">
    <div class="container">
        <p class="textOnBanner d-none d-lg-inline">Vi tror på & investerar i morgondagens entreprenörer.</p>
        <p class="textOnBanner d-lg-none mobileBanner text-center">Vi tror på morgondagens entreprenörer.</p>
    </div>
</div> -->
<!-- End banner -->

<!-- Portfolio -->
<div class="container" id="portfolio">
    <h2 class="text-center" id="portfolioTitle">Våra Bolag</h2>
    <br>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <img class="companyImage" src="assets/img/companies/consulting.png" alt="JKM Consulting image">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <img class="companyImage" src="assets/img/companies/klassanda.png" alt="Klassanda company image">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <img class="companyImage" src="assets/img/companies/nordicsell.png" alt="Nordicsell company image">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
            <img class="companyImage" src="assets/img/companies/soon.png" alt="Coming soon company image">
        </div>
    </div>
</div>
<!-- End portfolio -->

<!-- Our why -->
<div class="container" id="why">
    <h2 class="text-center" id="whyTitle">Varför?</h2>
    <!-- <br> -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-6 offset-xl-3 col-xxl-6 offset-xxl-3">
            <p>Vi tror på framtidens entreprenörer. Genom allt vi gör vill vi underlätta för uppstarten av nya företag, bl.a. 
                genom tillförsel av kapital, delande av information och genom synergier med våra portföljbolag.</p>
        </div>
    </div>
</div>
<!-- //Our why -->

<br><br>